.card {
    width: 30% !important;
    margin-right: 15px;
    color: black;
    margin-top: 1em;
}

.card img {
    height: 250px;
}

.card-title {
    padding-bottom: 1em;
    text-align: center;
}

.card-car-image {
    height: 250px !important;
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

.vehiculo-documento-card strong {
    font-size: 16px;
}

.form-select {
    min-height: 35px;
}

.car-new-document-link {
    padding-top: 1em;
    display: block;
    color: white;
    font-size: 1.2em;
    color: blue;
}